.firstpage_background {
    /* background: url(../images/bg-3.jpg) no-repeat;
    background-size: cover;
    background-position: center center; */
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstpage_container {
    background: #1e1d1c82;
    color: #e3e1e0;
    padding: 1rem;
    max-width: 1400px;
}

.listhead {
    font-size: 2rem;
    margin-bottom: 2rem;

}

.listitem {
    margin-bottom: 1rem;
}

.boldtext {
    font-weight: 900;
}