.header_background {
    /* background: url(../images/bg-1.jpg); */
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_container {
}

.heading {
    display: inline-block;
    margin-bottom: 1rem;
    background: #1e1d1c82;
    text-shadow: 6px 6px 0px rgb(0, 0, 0);
    color: #ECCE5B;
    font-size: 10rem;
}
.subheading {
    background: #1e1d1c82;
    color: #e3e1e0;
    font-size: 4rem;
}