.secondpage_background {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondpage_container {
    max-width: 1400px;
    background: #1e1d1c82;
    color: #e3e1e0;
}

.secondpage_container a {
    color: #e3e1e0;
}

.listhead {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.listitem {
    margin-bottom: 1rem;
}

.boldtext {
    font-weight: 900;
}